node_modules
dist
.angular
*.log
.DS_Store
release
*.tsbuildinfo

android/build
android/app/build
android/.gradle
android/local.properties
android/captures
android/*.iml
android/.externalNativeBuild
android/.cxx

ios/App/Pods
ios/App/build
ios/App/DerivedData
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata

.cache
*.tmp
*.temp
.tmp
.temp
.env.local
.env.*.local